p{
    color: blue;
    font-size: 30px;
    background-color: lightblue;
}
h4{
    color: orange;
    font-weight: 800;
}
.list{
    color: red;
}
#div{
    color: green;
}
#name{
    color: purple;
}


/* <!-- div id=div -->
<!-- h1-4 class=header -->
<!-- h1 id=name -->
<!-- ul class=list --> */