#d1{
    font-weight: bold;
}
#d2{
    font-size: 1.5em;
}
.blue{
    color: blue;
}
.red{
    color: red;
}
.mage{
    color: magenta;
}
.green{
    color: green;
}

















/*<!-- div has id= d1 d2 -->
<!-- span has class= blue red green mage -->*/