div{
    padding: 30px 25px 20px 15px;
    background-color: #B633FF;
}
form{
    border: 5px solid black;
    float: right;
    padding: 75px;
    margin-right: 60px;
    margin-bottom: 15px;
}
a:hover{
    color: #00e1ff;
}